.flex_image_container {
    display: flex;
    flex-wrap: wrap;
}

#individual_image_container {
    padding: 4px;
    width: 20%;
    height: auto;

}

.highlight_true {
    background: blue;
}

.highlight_false {
    background: none;
}